body {
	background: slategray;
}
select {
	width: 25%;
	margin: 2% 0;
}
label {
	font-size: 1.3em;
}
.white {
	color: white;
}
.products {
	font-size: 1.5em;
	margin-bottom: 2%;
	margin-top: 2%;
	font-weight: bold;
}
.delete {
	margin-top: 2%;
}
.delete button{
	width: 30%;
}
.row {
	margin-top: 5%;
}
.addTitle {
	margin-bottom: 7%;
}